<!DOCTYPE html>
<html lang="en">
<head>
  <title>Feed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {min-height: 60vh}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}
.row.content {height:auto;} 
}
.post{
min-width: 100%;
max-width: 100%;
display: flex;
flex-flow: column;
}
</style>
 
</head> 
<body>
   
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/explore">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/write">Write</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
              </li>
          </ul>
          <span class="navbar-text">
            <img src="/images/user.png" alt="Settings" height="24px" width="24px" style="cursor: pointer;">
          </span>
        </div>
      </nav> 

    <div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-2 sidenav ">
            <!--
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          -->
        </div>
        <div class="col-sm-8 text-left"> 
          <h1>About</h1>
          <p>
            This website is created by <a href="https://github.com/abhiraj-kale/">Abhiraj Kale</a> which should only be used for <b>development purposes</b>. 
            It is <b>not</b> meant for production purposes and neither does the viewer have my consent to use it for commnercial purposes.
          </p>
        </div>
        <div class="col-sm-2 sidenav ">
          <div class="well">
          </div>
          <div class="well">
          </div>
        </div>
      </div>
    </div>
    
    <footer class="container-fluid text-center bg-dark">
        
     
            <div class="container">
                <div class="row">

                    <div class="col-md-2">
                        <h5 class="text-md-right">Contact Us</h5>
                        <hr>
                    </div>
                    <div class="col-md-5">
                        <form>
                            <fieldset class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </fieldset>
                            <fieldset class="form-group">
                                <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                            </fieldset>
                            <fieldset class="form-group text-xs-right">
                                <button type="button" class="btn btn-light btn-md">Send</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <h4>Blog</h4>
                        <h6>Copyright @2020</h6>

                        <ul class="nav">
                            <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
    </footer>   

</body>
</html>
